body {
  background-color: #ff9770;
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
   }

#saoPaulo {
  font-size: 1.25em;
  background-color: #ff70a6;
}

h3 {
  text-align: center;
  background-color: #E9FF70;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 
0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  
}

/* .elementoDaLista {
  font-weight: bold;
  text-align: center;
} */

#euNoSol {
  /* text-align: center; */
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.blocoSobremin {
  background-color: #ff70a6;
}

.blocoInfo {
  background-color: #70d6ff;
  /* position: absolute; */
  /* left: 50%;
  width: 25%;
  border: 1px solid white;
  padding: 10px; */
}

.blocoBlogs {
  background-color: #ffd670;
  /* position: absolute; */
  /* right: 50%
  width:  25%;
  border: 1px solid white;
  padding: 10px; */
}

#wrap {
  width: 90%;
  margin: 0 auto;
}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#rodape {
    background-color: #ffd500;
}

.backamarelo{
    background-color: #ffd500 ;
}

/* Posição do título */

.right {
    position: absolute;
    left: 22%;
    width: 300px;
    border: 3px solid white;
    padding: 10px;
    color: whitesmoke;
  }

  #miniPauloDandrea{
      color: white;
  }






  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
  }

  li {
    border-right: 2px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }

/* ============ */
    /* li{
        list-style: none;
    
        list-style-position: inside; 
        
    }

    li:before{
        content: '';

        display: inline-block;
        border-radius: 50%;
        background-size: contain;
        height: 1em;
        width: 1em;
        background-image: url(images/euNoSol.jpg);

    }

    ul {
        display: table;
        width: 100%;
        list-style: none;
        }
        li {
        display: table-cell;
        text-align: center;
        }
    li a {
        display: block;
        } */

    /* ===================== */
/* 
    ul:first-child {
        text-align: left;
    }
    li:last-child {
    text-align: right;
} */

/* nav display: table, the ul display:table-row and the li display:table-cell */

